@import './helpers/varibles'; // varibles

footer {
  // Grid
  .grid {
    display: grid;
    place-content: center;
    grid-gap: 8rem;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid #bbbbbb31;
    padding: 0 3rem;
    padding-bottom: 5rem;

    // lg 992px
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    // md 768px
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    // sm 576px
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      place-items: center;
    }

    // Logo
    .logo {
      img {
        margin-bottom: 2rem;
      }

      p {
        width: 30rem;
        font: bold 1.8rem 'Nunito', sans-serif;
        color: $lightBlue;
      }
    }

    // Pages
    .pages {
      h1 {
        font: bold 2.8rem 'Nunito', sans-serif;
        color: $darkBlue;
        margin-bottom: 1rem;
      }

      ul {
        all: unset;
        display: flex;
        flex-direction: column;

        li {
          all: unset;
          margin: 1rem;

          a {
            all: unset;
            font: bold 1.8rem 'Nunito', sans-serif;
            color: $lightBlue;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    // Demos
    .demos {
      @extend .pages;
    }

    // Resources
    .resources {
      h1 {
        font: bold 2.8rem 'Nunito', sans-serif;
        color: $darkBlue;
        margin-bottom: 2rem;
      }

      img {
        margin-bottom: 2rem;
      }

      h3 {
        font: bold 1.8rem/4.5rem 'Nunito', sans-serif;
        color: $lightBlue;
      }
    }
  }

  // Grid 2
  .grid2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;

    // md 768px
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .copy-right {
      font: bold 1.4rem 'Nunito', sans-serif;
      color: $lightBlue;
      opacity: 0.5;
    }

    nav {
      ul {
        all: unset;
        display: flex;

        li {
          all: unset;
          margin: 1rem;

          a {
            all: unset;
            font: bold 1.4rem 'Nunito', sans-serif;
            color: $lightBlue;

            // sm 576px
            @media (max-width: 576px) {
              font-size: 1.3rem;
            }

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    h3 {
      font: bold 1.6rem 'Nunito', sans-serif;
      color: $lightBlue;

      a {
        all: unset;
        font: bold 1.3rem 'Nunito', sans-serif;
        color: $lightBlue;
        opacity: 0.8;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
